body
{
  background-color:#202124;
  font-family: Arial,sans-serif;
  margin: 0%;
}

.header
{
    color: white;
    font-size: 13px;
    text-align: right;
    padding-top: 22px;
    padding-right: 10px;
}

.menuItems
{
    font-size: 13px;
    padding-right: 10px;
    padding-left: 20px;
    display: inline-block;
}

.header a
{
    text-decoration: none;
    color: white;
}

.header a:hover
{
    text-decoration: underline;
}
.dropdown-content 
{
    width: 270px;
    padding: 28px;
    margin-right: 82px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 10px rgba(0,0,0,.2);
    display: none;
    z-index: 1;
    position: absolute;
    right: 0; 
}

.menuItems:hover .dropdown-content
{
    display: block;
}

.appLogo
{
    text-align: center;
    display: inline-block;
    width: 86px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.dropdown-content .appLogo:hover 
{
    border: 1px solid white;
    border-radius: 10px;
}

.menuItemLogo
{
    width: 50px;
    height: 50px;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}

.userImage
{
    border-radius: 50%;
    margin: -1px;
    overflow: hidden;
    position: relative;
    height: 32px;
    width: 32px;
    vertical-align: middle;
}

.container
{
    padding-top: 140px;
    padding-bottom: 160px;
}

.search
{
    font-size: 13px;
    margin: auto;
    margin-top: 30px;
    padding: 14px;
    width: 600px;
    color: #202124;
    border: 1px solid white;
    border-radius: 24px;
}
.input
{
   padding-right: 345px;
    width:100%;
    border: none;
    background-color:#202124;
    background-color: transparent;
}

.search:hover{
  background-color: #303134;
}

.voiceSearch
{
    float: right;
    height: 24px;
    width: 24px;
}

.btn
{
    display: inline-block;
    padding-top: 33px;
    padding: 30px;
}

.btns
{
    margin-right: 7px;
    height: 36px;
    color: #5F6368;
    font-size: 14px;
    background-color:#303134;
    color: white;
  border: none;
} 

.btns:hover
{
    border: 1.5px solid lightslategray;  
}
.footerhaut{
        background-color:#171717;
        border: 1px solid black;
        width: auto;
        height: 30px;
    }
.footerbas{
    background-color:#171717;
    border: 1px solid black;
    width: auto;
    height: 50px;
 
}
.lignefooter{
    background-color: #9aa0a6;
    width: auto;
    height: 1px;
}


