
body{
    background-image: url("https://img.freepik.com/photos-gratuite/fond-papier-aquarelle-texture-vintage_53876-103939.jpg?w=2000");
font-family: GoodTime;
}

.footerbas{
    background-color:#191919;
    border: 1px solid black;
    width: 100%;
    height: 115px;
    position: absolute;
}
.footerhaut{
    background-color:#242424;
    border: 1px solid black;
     width: 100%;
     height: 90px;
}
.imgdisque{
    border: 5px solid #191919;
}
.shopbag{
    background-color:#000;
    color:#fff;
    height:50px;
    width:50px;
    font-size:25px;
    display:flex;
    border-radius:50%;
    align-items:center;
    justify-content:center;
}